body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root{
  --secondary-color: #f5f5f5;
  --primary-color: #ffffff;
  --title-background-color: aliceblue;
  --header-color: #008cb3;


  --nameHeader-height: 100dvh;
  

  --navBar-height: 0rem; /* Display none for now */

}