.projectsSection {
    height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.projectsContent {

}


.projectCard {
    padding: 2rem 0;
}

.projectCard:not(:last-child) {
    border-bottom: 1px solid var(--faded-color);
}