.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the left */
    padding-left: 5vw; /* Add 5vw padding to the left */
    height: 100vh;
    text-align: left; /* Align text to the left */
    
}
.aboutContent {
    
    color: aliceblue;
 
}
