.headerContainer{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: var(--nameHeader-height);
    top: var(--navBar-height);
    width: 100%;
    z-index: -1;
    position: fixed;
    
}
.headerContent{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 5rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.3);

    
}  



.name{
    display: block;
    font-size: 3rem;
    font-weight: 700;

}

.headerText{

}