.headerContainer{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: var(--nameHeader-height);
    top: var(--navBar-height);
    width: 100%;
    z-index: -1;
    position: fixed;
    
}
.headerContent{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: var(--secondary-color); */

    width: 100%;
    height: 100%;
}  
.name{
    display: block;
    font-size: 3rem;
    font-weight: 700;

}

.headerText{

}