
.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    margin-left: var(--text-margin);
    margin-right: var(--text-margin);
    height: 100dvh;
    text-align: left; 
}


.headerText{
   
    font-size: 5rem;
    font-family: var(--anton-font); 
}

.colourChange{
    color: var(--secondary-color);

}
.headerDescription{
    font-size: var(  --p-font-size);
    width: 45rem;
}