.projectColumn {
    flex: 1 1 20%; 
    margin: 10px;
    height: 80%; 
    background-color: #ccc; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 0.3s ease;
    position: relative;
    overflow: hidden;
    
}

.projectColumn:hover {
    flex: 5; 
}

.projectColumn:not(:hover) {
    flex: 1; 
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transition: filter 0.5s ease; /* Smooth transition for blur effect */

}
.projectColumn:hover .backgroundImage {
    filter: none; /* Remove blur effect on hover */
}

.projectContent {
    padding: 20px;
    text-align: left;
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0; /* Hide content by default */
    transition: opacity 0.3s ease; /* Smooth transition for content */

}

.projectColumn:not(:hover) .backgroundImage {
    filter: blur(5px); 
}

.projectColumn:hover .projectContent {
    opacity: 1; 
}



.projectName{
    font-size: 2rem;
    font-weight: 700;


}


.projectDescription, .projectName {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);/* Increase blur effect */
    -webkit-backdrop-filter: blur(6px);/* Increase blur effect */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
    width: 50%;
    overflow: hidden;
    transition: opacity 2s ease;
    opacity: 0; /* Initially hidden */
    transition-delay: 0.8s;
    margin-bottom: 1rem;


}

.projectColumn:hover .projectDescription, .projectColumn:hover .projectName {
    opacity: 1; /* Show text */
}

.projectColumn:not(:hover) .projectDescription, .projectColumn:not(:hover) .projectName {
    opacity: 0; /* Hide text */
    transition: opacity 0.1s ease; 
}
.projectDescriptionText{
    text-align: left;
}

.projectSection{

}



